    ul {
        display: flex;
        flex-direction: column;
    }
    
    li {
        list-style-type: none;
        padding: 10px;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    input[type="checkbox"]:not(:checked)+ul {
        display: none;
    }
    
    input[type="checkbox"]:checked+ul {
        display: flex;
    }