/* 
    1. RESET
    2. GENERAL
    3. MENU
    4. CONTAINER
    5. FOOTER    
*/


/* ----------------
    1. RESET
---------------- */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------------
    2. GENERAL
---------------- */

* {
    font-family: Poppins;
}

h1 {
    font-size: 52px;
    font-family: 'poppins';
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    font-size: 23px;
    font-family: 'poppins';
    font-weight: 600;
}


/* ----------------
    3. MENU
---------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    background: white;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #e4002b;
}

.logo {
    width: 50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.button {
    margin-right: 30px;
    padding: 10px 25px;
    background: #e4002b;
    box-shadow: 5px 5px black;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:hover {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}


/* ----------------
    4. CONTAINER
---------------- */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 15px;
    margin: 0 15px;
    ;
}

.container a {
    text-decoration: none;
}

.container h2 {
    background: #e4002b;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px black;
}

.container h2:hover {
    animation: pulse 0.8s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4002b;
    color: white;
}

.item-1 {
    background: url(./src/img/colonel.jpg);
    background-size: cover;
}

.item-3 {
    background: url(./src/img/item-3.jpg);
    background-size: cover;
    background-position: center;
}

.item-4 {
    background: url(./src/img/item-4.jpeg);
    background-position: center;
    background-size: cover;
}

.item-5 {
    grid-column: span 2;
    background: url(./src/img/item-5.jpeg);
    background-size: cover;
    background-position: center;
}

.signature {
    font-family: 'Dancing Script';
    font-weight: bold;
    transform: rotate(-5deg);
}


/* ----------------
    5. FOOTER
---------------- */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 30px;
    background: #e4002b;
    color: white;
}

footer p {
    font-weight: 600;
}

footer span {
    font-family: 'Dancing Script';
    font-size: 21px;
}

.social a {
    color: white;
}

.social a i {
    margin-right: 5px;
}

.social a i:hover {
    color: black;
}


/* -------------
    SAMUEL formations diplomes
------------- */

.banner img {
    width: 60%;
    height: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: #e4002b;
    color: white;
    margin: 10px 10px;
}

.entete {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    color: white;
}

.bloc_diplomes,
.bloc_formations {
    background-image: url("./src/img/kfc-bordeaux.jpeg");
    height: 250px;
    background-size: cover;
    margin: 10px;
}

.bloc_diplomes {
    background-image: url("./src/img/kfc-bordeaux.jpeg");
}

.bloc_formations {
    background-image: url("./src/img/kfc-soissons.jpeg");
}

.conteneur_bas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenu_gauche,
.contenu_droit {
    background-color: #e4002b;
    margin: 10px 10px;
    color: white;
}

.contenu_gauche,
.contenu_droit ul {
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .entete {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .banner {
        order: -1;
    }
    .conteneur_bas {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .contenu_gauche,
    .contenu_droit ul {
        font-weight: 400;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 8px;
    }
    .container {
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
    nav ul li {
        font-size: 9px;
    }
}